body{
    margin: 0;
}

.navbar{
    display: flex;
    height: 10vh;
    background-color: rgb(87, 131, 250);
    color:#fff;
    font-size: larger;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.main{
    margin:0 5vh;
}

#video{
    width: 94vw;
    height: 80vh;
    border: 2px solid black;
}