body{
    margin: 0;
}

.navbar{
    display: flex;
    height: 10vh;
    background-color: rgb(87, 131, 250);
    color:#fff;
    font-size: larger;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.main{
    margin:0 5vh;
}

#video{
    width: 94vw;
    height: 80vh;
    border: 2px solid black;
}

.form{
    padding: 25px;
    width: 60vw;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 0 40px black;
}

.form > input{
    display: block;
    margin: 2vh;
    width: 80%;
}

.form > textarea{
    height: 20vh;
    display: block;
    margin: 2vh;
    width: 80%;
}

#submit{
    width: 200px;
    height: 25px;
    border:0;
    margin: 0 auto;
    background-color: rgb(7, 178, 7);
    color:#fff;
}